@inherits Dm1.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using Dm1.Models.Dm
@using Microsoft.AspNetCore.Identity;
@using Dm1.Models
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
  <ChildContent>
    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="col-6 d-flex align-items-center">
            <RadzenSidebarToggle Click="@SidebarToggle0Click">
            </RadzenSidebarToggle>
            <RadzenLabel Text="DM1">
            </RadzenLabel>
          </div>
          <div class="col-6 text-right">
            <RadzenProfileMenu Visible="@(Security.IsAuthenticated())" Click="@Profilemenu0Click">
              <ChildContent>
                <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenProfileMenuItem>
                <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenProfileMenuItem>
                <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
                </RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new">
                </RadzenProfileMenuItem>
              </ChildContent>
              <Template>
                <RadzenGravatar Email="@(Security.User?.Name)">
                </RadzenGravatar>
              </Template>
            </RadzenProfileMenu>
          </div>
        </div>
      </ChildContent>
    </RadzenHeader>
    <RadzenBody @ref="body0">
      <ChildContent>
        <RadzenContentContainer Name="main">
        @Body
        </RadzenContentContainer>
      </ChildContent>
    </RadzenBody>
    <RadzenSidebar @ref="sidebar0" style="width: 192px">
      <ChildContent>
        <RadzenPanelMenu style="height: 100%">
          <ChildContent>
            <RadzenPanelMenuItem Text="Attributes" Path="attributes" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Settings" Path="settings" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenu>
      </ChildContent>
    </RadzenSidebar>
    <RadzenFooter>
      <ChildContent>
        <RadzenLabel Text="DM1, Copyright Ⓒ 2022">
        </RadzenLabel>
      </ChildContent>
    </RadzenFooter>
  </ChildContent>
</RadzenLayout>
