@page "/add-setting"
@layout MainLayout
@inherits Dm1.Pages.AddSettingComponent

@using Radzen
@using Radzen.Blazor
@using Dm1.Models.Dm
@using Microsoft.AspNetCore.Identity;
@using Dm1.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@setting" TItem="Dm1.Models.Dm.Setting" Visible="@(setting != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="AttributeID" style="width: 100%" Text="Attribute Id">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="5" ReadOnly="true" style="display: block; width: 100%" @bind-Value="@(setting.AttributeID)" Name="AttributeID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="AttributeID" style="position: absolute" Text="AttributeID is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="AttributeName" style="width: 100%" Text="Attribute Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="30" ReadOnly="true" style="display: block; width: 100%" @bind-Value="@(setting.AttributeName)" Name="AttributeName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="AttributeName" style="position: absolute" Text="AttributeName is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Description" style="width: 100%" Text="Description">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="40" style="display: block; width: 100%" @bind-Value="@(setting.Description)" Name="Description">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Description" style="position: absolute" Text="Description is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="IsDistributorAttribute" style="width: 100%" Text="Is Distributor Attribute">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(setting.IsDistributorAttribute)" Name="IsDistributorAttribute">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="IsCustomerAttribute" style="width: 100%" Text="Is Customer Attribute">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(setting.IsCustomerAttribute)" Name="IsCustomerAttribute">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Used" style="width: 100%" Text="Used">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @bind-Value="@(setting.Used)" Name="Used">
                </RadzenCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
